<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dftc.libonvifvideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name="com.dftc.libonvifvideo.service.OnvifRecordService"
            android:process=":videorecord">
            <intent-filter>
                <action android:name="com.rtsp.proxy.action.OnvifRecordService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
